@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
  --primary-font: 'Exo 2', sans-serif;
  --background-dark-blue: #012a4a;
  --background-light-blue: #013a63;
  --gold-color: #d4af37;
  --light-blue: #2a9d8f;
  --royal-blue: #0000DE;
  --border-radius: 10px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/Artboard 1@2x.webp'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--primary-font);
  flex-direction: column;
  align-items: center;
  
    h1 {
      letter-spacing: 5px;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    h2.bachata {
      padding-top: 0.75em;
      text-transform: uppercase;
      letter-spacing: 1.25em;
      font-weight: 100;
      font-size: 5em;
      font-family: 'Exo 2', sans-serif;   
    }
    
    h2.info {
      color: white;
      margin-top: 5em;
    }


    h1,h2 {
      color: gold;
      text-align: center;
    }

    p,
    li {
      font-size: 22px;
    }

    a {
      text-decoration: none;
    }
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px; /* Adjust padding for better spacing */
  box-sizing: border-box; /* Include padding and border in the element's width and height */
  transition: background-color 0.5s ease;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.header-scrolled {
  background-color: rgb(9,25,42);
}

.header-scrolled nav ul li a {
  color: gold;
}

.header-logo {
    width: 145px;
    padding: 20px;
    margin-top: 1em;
    margin-left: 7em;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}

.navbar a {
  color: gold; /* Set the color to gold instead of inheriting white */
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  transition: color 0.3s ease; /* Optional: smooth transition for color change */
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
  position: relative;
}

.nav-item > a {
  display: block;
  padding: 10px;
  color: gold;
  text-decoration: none;
}

.nav-item > a, .navbar a {
  transition: color 0.3s ease;
}


.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(9, 19, 46, 0.95);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.has-dropdown:hover > .dropdown {
  display: block;
}

.dropdown a {
  color: gold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


/* Navbar links hover effect */
.nav-item > a:hover,
.navbar a:hover {
  color: goldenrod; /* Change text color on hover */
}

/* Dropdown menu styles */
.dropdown {
  background-color: rgb(9,25,42); /* Set the dropdown background color */
  /* ... existing styles ... */
}

/* Dropdown menu hover effect */
.dropdown a:hover {
  color: goldenrod; /* Change text color on hover */
  background-color: rgba(255,215,0,0.2); /* Optional: Slight background highlight */
}

.cta-button > a {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  transition: background-color 0.3s;
  margin-left: 2px;
}

.cta-button > a:hover {
  background-color: #45a049;
  color: gold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
  padding: 10px;
}

.main {
  display:flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically if needed */
  width: 100%; /* Take full width of its container */
  margin: 0 auto;
  padding-top: 10em;
}

.main.hotel-travel {
  padding-top: 220px;
}

.main.competition {
  padding-top: 15em;
}


/* Styles that apply globally */
.hamburger-menu {
  display: none; /* Hides the hamburger menu by default */
  text-align: right;
  padding-right: 20px;
}

.hamburger {
  background: none;
  border: none;
  font-size: 30px; /* Size of the hamburger icon */
  cursor: pointer;
  color: #ccc;
}

.menu-content {
  display: none; /* Ensures menu content is hidden when not toggled */
  position: absolute;
  background-color: rgb(9,25,42);
  top: 40px; /* Positioned below the hamburger button */
  right: 20px;
  border: 1px solid #eee;
  width: 200px; /* Width can be adjusted as needed */
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  z-index: 1000;
}

.menu-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
}

.menu-content a:hover {
  background-color: #f7f7f7;
}

.bg-img {
  background-image: url('images/Artboard@4x.webp'); /* Path to your image file */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Optional: Image stays fixed during scrolling */
}

@keyframes moveLogo {
  0% { transform: translate(0, 0); }
  100% { transform: translate(10px, 10px); }
}
      
.hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the viewport */
  
  margin-top: 0; /* Reduce or remove the top margin of the hero section */
  padding-top: 20px 0 0 0; /* Reduce or remove the top padding of the hero section */
  z-index: 1;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/* Styling specific to the images in the hero section */
.hero img {
  width: 100%; /* Each image fills the width of the hero container */
}

img.hero-img.aos-init.aos-animate {
  max-width: 28.35rem;
  margin-top: -3em;
  transition: transform 0.3s ease-in; /* Larger image gets more space to be prominent */
  animation: moveLogo 2s infinite alternate;
}
.comp-img {
  margin-top: 5em;
  max-width: 70%;
  transition: transform 0.3s ease-in; /* Larger image gets more space to be prominent */
  animation: moveLogo 2s infinite alternate;
}

img.comp-img.aos-init.aos-animate {
  width: 25%;
  padding-top: 3em;
}

.small-img {
  flex: 1; /* Smaller images get less space */
}

.large-img {
  flex: 2;
  max-width: 67%;
  margin: 0;
  padding-top: 5.75em;
  transition: transform 0.3s ease-in; /* Larger image gets more space to be prominent */
  animation: moveLogo 2s infinite alternate;
}

img.categories-img {
  max-width: 45%;
  padding-top: 2em;
}

.slogan {
  font-size: 4.25em;
  font-weight: 250;
}
.dates {
  color: gold;
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  font-size: 2.8em;
  letter-spacing: 5px;
  text-align: center;
  margin: 0 0 0 10px; /* Adjust space between the h1 and h2 tags */
}

.dates span {
  font-weight: bold;
}


  section {
    padding: 20px 10px; /* Smaller padding for mobile */
    margin-bottom: 20px; /* Smaller margin for mobile */
  }

  h1 {
    font-size: 1.5em; /* Smaller font size for headings on mobile */
  }

  h2 {
    font-size: 1.25em;
  }

  .judges {
    grid-template-columns: repeat(2, 1fr); /* 2-column layout for tablets and large phones */
  }
  
  .main-judges {
    padding-top: 13em;
  }

  .hero, .hero-header, .main {
    padding: 10px; /* Adjust padding for sections */
  }
  
  .judges {
    grid-template-columns: repeat(2, 1fr); /* 2-column layout for tablets and large phones */
  }

  #judge-grid {
    margin: 100px 0 50px 0;
}

img.hotel-logo{
  padding: 0 1.5em 4em 1.5em;
}
 
.comp-details h3 {
      font-size: 1.8rem; /* Smaller font size on mobile */
      padding: 0.8rem 0;
  }
}

@media (max-width: 480px) {
  .event-dates {
    font-size: 2.5rem; /* Smaller font size for mobile */
    letter-spacing: 0.1em;
    padding: 1rem 0;
  }
  
  body {
    padding: 5px; /* Slightly increase padding */
  }
  
  .details-section {
    padding: 10px; /* Add padding to prevent content from touching the edges */
    display: flex; /* Implement Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align the content for better aesthetics */
    text-align: center; /* Center text alignment for all text */
  }

  .details-section .comp-details {
    width: 100%; /* Full width to use available space */
    margin-top: 10px; /* Space above for clarity */
  }

  .details-section h2.info {
    font-size: 1.5rem; /* Reduce font size to fit small screens */
    margin-bottom: 15px; /* More space below heading */
  }

  .details-section p.info {
    font-size: 0.9rem; /* Smaller font size for paragraph text */
    margin-bottom: 10px; /* Space between paragraphs */
  }

  .details-section p {
    font-size: 0.9rem; /* Consistent font size with other paragraphs */
  }

  .details-section .whatsapp-button {
    font-size: 0.85rem; /* Smaller button text */
    padding: 10px 20px; /* Adjust button padding */
    margin-top: 15px; /* Space above the button */
  }

  .img.header-logo.aos-init.aos.animate {
    max-width: 118px;
    margin-left: initial;
  }
  
  img.categories-img {
    max-width: 100%;
  }

  .hero-header {
    img.categories-img {
        max-width: 100%;
        padding-top: 1em;
    }
  }
  
  img.hotel-logo {
    max-width: 450px;
    padding-bottom: 2em;
  }
  .footer-logo {
   max-width: 300px;
  }

  .hero-header img.categories-img {
    max-width: 100%; /* Ensure full width to use available space */
    padding-top: 0.5em;
  }

  .footer-logo {
    max-width: 50%; /* Reduce the size of footer logo */
  }

  .footer-bottom p {
    font-size: 12px; /* Adjust font size for readability */
    padding-top: 0.5em;
  }

  .menu-content a:hover {
    color: var(--royal-blue); /* Maintain hover color */
  }

  h2.comp-details {
    font-size: 2rem; /* Adjust heading size for better readability */
    margin: 1.5rem 0 1rem 0;
  }
  
  h2.comp-details::after {
    width: 60px;
    height: 2px;
  }

  .competition-details-section .competition-grid-container {
    grid-template-columns: 1fr; /* Single column for narrow screens */
  }

  .competition-details-section .competition-grid-item {
    font-size: 0.9rem; /* Slightly smaller font size */
  }

  .contact-container {
    min-height: 40vh; /* Reduce minimum height */
    padding: 8px; /* Reduce padding */
  }

  .comp-details p {
    font-size: 0.85em; /* Reduce font size */
  }

  .contact-container h1 {
    font-size: 1.5rem; /* Smaller title font size */
  }

  .contact-container p {
    font-size: 0.85rem; /* Smaller text size */
  }

  .slogan {
    font-size: 2em; /* Smaller slogan for better fit */
    padding-top: 0.5em;
  }

  .dates {
    font-size: 2em; /* Smaller font size for dates */
    padding-top: 0.5em;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .footer-item {
    margin: 3px 0; /* Reduce spacing between footer items */
  }

  .hamburger-menu {
    display: block; /* Ensure hamburger menu is visible */
  }

  nav.navbar {
    display: none; /* Hide the regular navbar in favor of a hamburger menu */
  }

  .judges {
    grid-template-columns: 1fr; /* Single column for judges */
  }

  .judges-title { 
    font-size: 2.5rem; /* Reduce size for smaller screens */
  }

  .comp-details h3 {
    font-size: 1.5rem; /* Adjust competition details heading size */
  }

  .hotel-amenities,
  .categories-container,
  .hotel-highlights {
    flex-direction: column; /* Stack sections vertically */
  }

  .highlight,
  .ticket-option {
    width: 100%; /* Use full width for these elements */
  }
  
  .details-section {
    padding: 10px; /* Adjust padding for better spacing */
  }
}

.judges-section {
  padding-bottom: 150px;
}

/* Judges Grid Area */
.judges {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Two rows of five for the 10-judge roster */
  gap: 20px; /* Sets the gap between grid items */
  padding-bottom: 5em;
  padding-top: 2em;
  max-width: 1400px;
  margin: 0 auto;
}

.judges img {
  width: 100%; /* Makes images responsive */
  height: auto; /* Maintains aspect ratio */
  max-width: 400px; /* Maximum size of the images */
  display: block; /* Ensures max-width is respected */
  margin: 0 auto; /* Centers images in their grid cell */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.judges img:hover {
  transform: scale(1.05); /* Slightly enlarges the image on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhances the shadow on hover */
}

/* Judge Card Styles */
.judge-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 215, 0, 0.3);
}

.judge-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(255, 215, 0, 0.3);
}

.judge-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.judge-name {
  color: gold;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Exo 2', sans-serif;
}

.judges-title { 
  text-align: center; /* Center-align the title */
  color: gold; /* Gold color to match the theme */
  font-size: 4.5rem; /* Large font size for prominence */
  letter-spacing: 0.1em; /* Spacing out letters for a grand effect */
  text-transform: uppercase; /* Uppercase text for a formal appearance */
  font-weight: 400; /* Bold font weight for legibility */
  margin: 1rem 0; /* Space above and below the heading */
  padding: 1rem 0; /* Padding above and below the heading */
  /* Adding a gradient text effect */
  background: -webkit-linear-gradient(45deg, #ffd700, #f8f8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Adding a subtle text-shadow for depth */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}



.menu-content a {
  display: block; /* Stack links vertically */
  text-decoration: none;
  color: white; /* Adjust color as needed */
  padding: 10px; /* Add padding for touch targets */
}

menu-content a:hover{
  color: black;
}

.details-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 2em;
}

.left-details {
 flex:1;
 padding: 20px;   
}

.comp-details {
  flex: 1;
  padding: 20px;
  color: white;
  font-family: 'Exo 2', sans-serif;
}

h1,h2,h3,p button {
  margin: 0;
  padding: 5px 0;
}

.contact-info h3 {
  margin-top: 20px;
}

p.info a {
  color: white;
}

p.info a:hover {
  color: gold;
}

.whatsapp-button {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}
/* Map Section */
.map-section {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.map-section iframe {
  width: 100%;
  height: 500px; /* Adjust based on your preference */
}

.hotel-info {
  width: 30%;
  padding: 20px;
  background-color: white;
  color: black;
}

.map-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gold;
  font-size: 44px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

button.whatsapp-button {
 margin-top: 3em;
}

.whatsapp-button {
  background-color: #25D366; /* WhatsApp color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #22c35e; /* Slightly darker green */
}



/* Event Dates Section */
.event-dates-section {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.event-dates {
  color: #ffd700; /* Gold color to match the hero image */
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #ffd700, #ffed4e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: shimmer 3s ease-in-out infinite;
}

/* competition and passes heading */
.comp-details {
  text-align: center; /* Aligns the content to the center */
  margin: 0; /* Resets any default margin */
  padding-bottom: 1em; /* Resets any default padding */
}

.comp-details h3 {
  color: gold; /* Gold color to match the theme */
  font-size: 3.5rem; /* Large font size for prominence */
  letter-spacing: 0.1em; /* Spacing out letters for a grand effect */
  text-transform: uppercase; /* Uppercase text for a formal appearance */
  font-weight: 700; /* Bold font weight for legibility */
  margin: 1rem 0; /* Space above and below the heading */
  padding: 1rem 0; /* Padding above and below the heading */

  /* Adding a gradient text effect */
  background: -webkit-linear-gradient(45deg, #ffd700, #f8f8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* Adding a subtle text-shadow for depth */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}



/* Shimmer effect animation */
@keyframes shimmer {
  to {
      background-position: 200% center;
  }
}

.site-footer {
  background-color: rgb(9,25,42); /* Dark background for the footer */
  color: #fff; /* White text color */
  padding: 20px 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  width: 400px; /* Consistent with the header logo */
  padding: 10px 0;
}

/* .footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} */

.footer-item {
  margin: 0 10px;
}

.footer-item a {
  color: gold;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;
}

.footer-item a:hover {
  color: goldenrod; /* Highlight on hover */
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444; /* Subtle line to separate the content */
  margin-top: 20px;
}

@media (max-width: 768px) {
  .img.header-logo.aos-init.aos.animate {
    max-width: 118px;
    margin-left: initial;
  }

  .hero-header {
    img.categories-img {
        max-width: 80%;
        padding-top: 1em;
    }
  }
  
  img.hotel-logo {
    max-width: 450px;
    padding-bottom: 2em;
}
  .footer-logo {
   max-width: 300px;
  }
  
  .footer-bottom p {
    font-size: .75em;
    padding-top: 1em;
    
  }
  .menu-content a:hover {
   color: var(--royal-blue);
  }

  h2.comp-details {
    font-size: 2.8rem;
    color: #ffd700;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    margin: 2rem 0 1.5rem 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 1rem 0;
  }
  
  h2.comp-details::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background: linear-gradient(90deg, transparent, #ffd700, transparent);
    border-radius: 2px;
  }
  .competition-details-section .competition-grid-container {
    grid-template-columns: repeat(3, 1fr); /* Adjust to three columns on smaller screens */
  }

  .competition-details-section .competition-grid-item {
    font-size: 1rem; /* Smaller font size for smaller screens */
  }

  .contact-container {
    min-height: 50vh; /* Less height on smaller screens */
    padding: 10px;
}

.comp-details p {
  font-size: 1em;
}

.contact-container h1 {
    font-size: 2rem; /* Smaller font size on mobile devices */
}

.contact-container p {
    font-size: 1rem; /* Smaller text on mobile */
}
  .slogan {
    padding-top: 1em;
    font-size: 30px;
    font-weight: 200;
  }
   
  .dates {
    padding-top: 1em;
    font-size: 2.5em;
  }

  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-nav ul {
      flex-direction: column;
      align-items: center;
  }

  .footer-item {
      margin: 5px 0; /* Stack items vertically with space */
  }

  .hamburger-menu {
    display: block; /* Shows the hamburger menu on mobile devices */
    position: fixed;
    /* top: 0; Aligns the menu at the top of the viewport */
    right: 0; /* Aligns the menu to the right side of the viewport */
    width: 100%; /* Ensures the menu stretches across the full width */
    background-color: transparent; /* Adds a background color for visibility */
    z-index: 1000; /* Ensures the menu stays on top of other content */
  }

  nav.navbar {
    display: none;
  }
  
  .logo-container {
    margin-right: auto;
    margin-left: 20px;
  }

  .header-logo {
    width: 100px;
    margin: 0;
  }

  .judges {
    grid-template-columns: 1fr 1fr; /* Changes to one column */
    gap: 1.25em; /* Optionally adjust the gap for tighter spacing */

  }

  section#shadow-host-companion {
  padding: 0;
  margin: 0 auto;
  }

  .judges-title { 
    text-align: center; /* Center-align the title */
    color: gold; /* Gold color to match the theme */
    font-size: 3.5rem; /* Large font size for prominence */
    letter-spacing: 0.1em; /* Spacing out letters for a grand effect */
    text-transform: uppercase; /* Uppercase text for a formal appearance */
    font-weight: 300; /* Bold font weight for legibility */
    margin: 1rem 0; /* Space above and below the heading */
    padding:0 0 .5em 0; /* Padding above and below the heading */
    /* Adding a gradient text effect */
    background: -webkit-linear-gradient(45deg, #ffd700, #f8f8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Adding a subtle text-shadow for depth */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    /* Adding an animation to create a shimmer effect */
    animation: shimmer 2s infinite;
    background-size: 200% auto;
  }

  .comp-details h3 {
    color: gold; /* Gold color to match the theme */
    font-size: 1.75rem; /* Large font size for prominence */
    letter-spacing: 0.1em; /* Spacing out letters for a grand effect */
    text-transform: uppercase; /* Uppercase text for a formal appearance */
    font-weight: 700; /* Bold font weight for legibility */
    margin: 1rem 0; /* Space above and below the heading */
    padding: 1rem 0; /* Padding above and below the heading */
  
    /* Adding a gradient text effect */
    background: -webkit-linear-gradient(45deg, #ffd700, #f8f8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /* Adding a subtle text-shadow for depth */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    
    /* Adding an animation to create a shimmer effect */
    animation: shimmer 2s infinite;
    background-size: 200% auto;
  }

    .hotel-amenities {
      grid-template-columns: 1fr;
    }

    .categories-container {
      grid-template-columns: 1fr;
    }

    .hotel-highlights {
      flex-direction: column;
    }
  
    .highlight {
      margin: 1rem 0;
    }

    .ticket-sales {
      flex-direction: column;
      align-items: center;
  }

  .ticket-option {
      width: 90%; /* Makes each option full width */
      margin-bottom: 20px;
  }
  
  .details-section {
    padding-bottom: 2em;
  }

}

.deal-banner, .hotel-highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background: transparent;
}

.section-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.section-description {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #666;
}

.btn-primary, .btn-secondary {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #ff5a5f;
  color: white;
}

.btn-primary:hover {
  background-color: #f53d47;
}

.btn-secondary {
  background-color: #00A699;
  color: white;
}

.btn-secondary:hover {
  background-color: #008c7a;
}

.hotel-highlights {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}

.highlight {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.highlight h3 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.highlight p {
  color: #666;
}

main.compeition {
  padding-top: 15em;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
  box-sizing: border-box;
  color: white;
}

.category {
  background: var(--background-dark-blue);
  border: 3px solid var(--gold-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.category h2 {
  color: var(--gold-color);
  font-size: 1.5em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.category ul {
  list-style-type: none;
}

.category ul li {
  padding: 8px 0;
  font-size: 1.2em;
  border-bottom: 1px solid var(--light-blue);
  margin-bottom: 8px;
}


/* Ticket Sales Page */

.ticket {
 padding-top: 12em;
}

.ticket-sales {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: var(--background-dark-blue);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.ticket-sales {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: var(--background-dark-blue);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 0 auto; /* Centers the container on the page */
  max-width: 1200px; /* Sets a maximum width for the container */
}

.ticket-option {
  flex: 1;
  background: var(--background-light-blue);
  border: 2px solid var(--gold-color);
  padding: 20px;
  border-radius: var(--border-radius);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px; /* Ensures that columns do not become too narrow */
}

.ticket-option h2 {
  color: var(--gold-color);
}

.ticket-option ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.ticket-option li {
  margin-bottom: 10px;
  color: white;
}

.price {
  font-size: 1.5em;
  color: var(--gold-color);
  margin: 20px 0;
}

.btn-primary {
  background-color: #4caf50; /* Match the green color from the header button */
  color: white;
  border: none;
  padding: 12px 24px; /* Adjust padding to match the header button size if needed */
  font-size: 16px; /* Ensure font size is consistent */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 2px; /* Assuming the header button has rounded corners */
  font-weight: bold; /* Typically header buttons have bold text for better visibility */
  text-transform: uppercase; /* Common in button designs for emphasis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Optional: Adds depth with a subtle shadow */
}

.btn-primary:hover {
  background-color: #45a049; /* Slightly darker green on hover for a dynamic effect */
  color: gold; /* Change text color on hover if needed */
}

main.tickets {
  padding-top: 4em; /* Adjust this value based on your header's actual height */
  min-height: calc(100vh - 4em); /* Subtract the height of the header */
  width: 100%; /* Ensure main takes full width */
  box-sizing: border-box; /* Includes padding and border in the width calculation */
}

.competition-header {
  text-align: center;
  padding: 1em 0; /* Adjust the padding as needed */
  margin-bottom: 1em;
}

.competition-title {
  /* Style for the main title */
  background-color: rgba(0,0,222,0.5);/* Gold background */
  color: white; /* White text */
  font-size: 3em; /* Large font size */
  display: inline; /* Only as wide as its content */
  padding: 0.2em 0.5em; /* Top/bottom and left/right padding */
  margin: 0; /* Reset default margins */
  text-transform: uppercase; /* Uppercase text for stylistic preference */
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6); /* Text shadow for depth */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Shadow around the text background */
  border-radius: 5px; /* Slightly rounded corners for the background */
}


.competition-subtitle {
  /* Style for the subtitles */
  background-color: var(--background-dark-blue); /* Assuming this is the color */
  color: var(--gold-color); /* Assuming this is the color */
  font-size: 1.5em; /* Adjust the font size as needed */
  display: inline-block; /* Allows for background color padding around the text */
  padding: 0.2em 1em; /* Adjust the padding as needed */
  margin: 0.5em 0; /* Adjust the margin as needed */
}

/* Grid layout for categories, using unique class names */
.dance-categories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns for solo and couples */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 150px 15px;
  box-sizing: border-box;
  color: var(--gold-color); /* Assuming the text color should be gold */
}

.dance-category {
  border: 3px solid var(--gold-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
  font-size: 1.25em;
  text-align: center; /* Center the text inside the category box */
}

/* Styling for list items */
.dance-category ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
}

.dance-category li {
  padding: 8px 0;
  font-size: 1.2em;
  border-bottom: 1px solid var(--light-blue);
  margin-bottom: 8px;
}


.coming-soon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 1em; /* Shifts the container up by 50px */
  text-align: center;
  width: 100%;
  position: relative;
  color: white;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out; /* Smooth transition for adjustments */
}

.coming-soon-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/RLDC_1024x1024.png'); /* Adjust the path as necessary */
   background-size: 55% auto; /* Cover the entire section */
   background-position: center top; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    opacity: 0.15; /* Set the opacity of the background image */
    z-index: -1; /* Ensure the background is behind the content */
  }
  


.coming-soon-container h1, .coming-soon-container p {
  z-index: 1;
  position: relative;
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  z-index: 1;
}

.time {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background to keep the text readable */
  color: white;
  border-radius: 5px;
  font-size: 1.5em;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh; /* Full viewport height */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.16); /* Semi-transparent black background */
  color: white; /* Ensures text is visible against the dark background */
  padding: 20px;
  margin-top: 1em;
  box-sizing: border-box;
  position: relative; /* Needed for the absolute positioning of the pseudo-element */
}

.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/RLDC_1024x1024.png'); /* Adjust the path as necessary */
  background-size: 55% auto; /* Cover the entire section */
  background-position: center top; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  opacity: 0.15; /* Set the opacity of the background image */
  z-index: -1; /* Ensure the background is behind the content */
}



.contact-container h1 {
  font-size: 2.5rem; /* Large font size for heading */
  margin-bottom: 1rem; /* Space below the heading */
}

.contact-container p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem; /* Consistent vertical rhythm */
}

.contact-container a {
  display: inline-block;
  background: #ffffff; /* White background for contrast */
  color: #000000; /* Black text for readability */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none; /* No underline */
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.contact-container a:hover {
  background: white;; /* Light grey background on hover */
  color: #222222; /* Slightly darker text on hover */
}

.contact-container .fa { /* Generic class for any Font Awesome icons used */
  font-size: 2rem; /* Size of icons */
  color: #FFF; /* White for visibility */
  margin: 10px 5px; /* Space around icons */
}

.contact-info {
  background: var(--background-dark-blue); /* Same dark blue background */
  padding: 30px; /* More padding for better visibility */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-around; /* Space out contact items */
  align-items: center; /* Center items vertically */
  max-width: 80%; /* Adjust width as needed */
  margin: 40px auto; /* Center it on page with more margin */
  border: 2px solid var(--gold-color); /* Gold border matching the nav items */
}

.contact-item {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em; /* Increase font size for better readability */
  padding: 10px 20px; /* More padding for larger touch area */
}

.contact-item:not(:last-child) {
  border-right: 2px solid var(--gold-color); /* Separators between items */
}

.icon {
  color: var(--gold-color);
  margin-right: 15px; /* More space between icon and text */
  font-size: 2em; /* Larger icon size */
}

.contact-item a {
  color: var(--light-blue); /* Light blue for links for better contrast */
  text-decoration: none; /* No underline */
  font-weight: bold; /* Bold text for links */
}

.contact-item a:hover {
  color: goldenrod; /* Gold color on hover */
  text-decoration: underline; /* Underline on hover */
}


.salsa-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}


header#header-placeholder {
  height: 50px; /* Adjust according to actual header height */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent; /* Example background color */
  z-index: 10;
}

footer#footer-placeholder {
  height:125px; /* Adjust according to actual footer height */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent; /* Example background color */
  z-index: 10;
}

.full-body-image {
  display: block;
  width: 50%; /* Now the image takes up 80% of the screen width */
  height: auto; /* Height adjusts automatically */
  position: absolute;
  top: 224px; /* Start below the header */
  left: 50%;
  transform: translateX(-50%); /* Adjust centering */
  padding-bottom: 10em;
  z-index: 1;
}

/* Competition Details Section Styles */
.competition-details-section h2 {
    color: gold;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
    padding: 1rem 0;
    background: #ffd700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    background-size: 200% auto;
  }

/* Specific Grid container for competition details */
.competition-details-section .competition-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns for two rows */
  gap: 20px; /* Space between the grid items */
  margin: 0 auto;
  max-width: 1200px; /* Max width to align with site's content width */
  padding: 20px;
}

/* Specific Grid item styles for competition details */
.competition-details-section .competition-grid-item {
  background-color: var(--background-dark-blue); /* Theme color for background */
  color: white; /* Text color for readability */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; /* Styling preference for grid items */
  padding: 20px; /* Padding for content within grid items */
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2rem; /* Font size for grid item text */
  border: 2px solid var(--gold-color); /* Border to match the theme */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
}

.competition-details-section .competition-grid-item:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

@media (max-width: 480px) {
  body {
    padding: 5px;
  }

  .details-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .details-section .comp-details {
    width: 100%;
    margin-top: 10px;
  }

  .details-section h2.info {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .details-section p.info {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .details-section p {
    font-size: 0.9rem;
  }

  .details-section .whatsapp-button {
    font-size: 0.85rem;
    padding: 10px 20px;
    margin-top: 15px;
  }

  .competition-details-section .competition-grid-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .competition-details-section .competition-grid-item {
    padding: 15px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .competition-details-section .competition-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .competition-details-section .competition-grid-item {
    font-size: 1rem;
  }
}

.mobile-header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile-cta-button {
  display: none;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.mobile-cta-button:hover {
  background-color: #45a049;
  color: gold;
}

@media (max-width: 768px) {
  .mobile-cta-button {
    display: inline-block;
  }
  
  .hamburger-menu {
    display: block; /* Keep existing display property */
  }
  
  .mobile-header-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px; /* Match existing hamburger menu padding */
  }
}
